/* Favourities.css */

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scroll-hide::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.card-border {
  border: 1px solid rgba(0, 0, 0, 0.2);
}


.qq-card {
  width: 19rem;
  border-radius: 0.5rem;
  overflow: hidden; 
  height: 18rem
}

/* .qq-scroll {
  max-height: 12.5rem; 
  overflow-y: auto;
  padding: 0 0.75rem 0.75rem 0.75rem;
} */
